.homepage {
    display: flex;
    align-items: stretch;
    min-height: calc(100vh - 4.5rem);
}

.filters {
    background-color: var(--light);
    padding: 1rem;
    flex: 1;
}

.filter {
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}

.filters h3 {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 900;
}

.filters-header > button {
    text-align: center;
    display: none;
    cursor: pointer;
    font-size: 25px;
    background: linear-gradient(45deg, var(--accent-1), var(--primary));
    background: -webkit-linear-gradient(45deg, var(--accent-1), var(--primary));
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: 0.6s all ease;
    -webkit-transition: 0.6s all ease;
    -moz-transition: 0.6s all ease;
    -ms-transition: 0.6s all ease;
    -o-transition: 0.6s all ease;
}

.upside-down {
    rotate: -180deg;
}

.filters .price-filter-container {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    padding-bottom: 0.2rem;
}

.filters .price-filter-container input {
    width: 4rem;
    text-align: center;
}

.filters .price-filter-container p {
    margin: 0;
}

.search-field {
    padding: 1rem;
}

.search-field input[name='query'] {
    width: 80%;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.items-container {
    flex: 3;
    margin-top: 1rem;
    margin-left: 1rem;
}

.items {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 20rem;
    /* min-height: 26rem; */
    background-color: #efefef;
    margin: 1rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding-bottom: 1rem;
}

.item-image {
    height: 50%;
    position: relative;
}

.item-image img {
    width: 100%;
    height: 13rem;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.item-image .add-to-basket {
    bottom: 0;
    right: 20px;
    position: absolute;
}

.add-to-basket {
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    border: none;
    box-shadow: 0 0 16px var(--secondary);
    background: linear-gradient(45deg, var(--light), var(--secondary));
    background: -webkit-linear-gradient(45deg, var(--light), var(--secondary));
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transition:0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.add-to-basket:hover{
    box-shadow: 0 0 16px 6px var(--secondary);
}
.item-info {
    padding: 1.5rem;
}

.item-info p {
    padding-top: 0.5rem;
    margin: 0;
}

.item h4 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 900;
}

.search-input {
    font-size: 1.1rem;
    padding: 0.7rem !important;
    box-shadow: 0 0 32px #9e9e9e;
    border: none;

    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.search-btn {
    font-size: 1.1rem;
    padding: 0.5rem;
    box-shadow: 0 0 32px #9e9e9e;
    margin-left: 1rem;
    min-width: 2rem;
    min-height: 2rem;

    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.open,
.closed {
    display: block;
}

.price-ranges {
    display: flex;
}

.price-ranges-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 1rem;
}

@media screen and (max-width: 1200px) {
    .homepage {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        min-height: calc(100vh - 4.5rem);
    }

    .filters-header > button {
        display: block;
    }

    .filters-header {
        font-size: 1.1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .filters {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .filter {
        flex-direction: column;
    }

    .open {
        display: flex;
    }

    .closed {
        display: none;
    }

    .filters .price-filter-container {
        font-size: 1rem;
    }

    .filters .price-filter-container input {
        width: 3.5rem;
        text-align: center;
    }

    .filters .price-filter-container p {
        margin: 0;
    }

    .search-field {
        padding: 1rem;
    }

    .search-field input[name='query'] {
        width: 80%;
        padding: 0.5rem;
        font-size: 1.2rem;
    }

    .items {
        justify-content: space-evenly;
    }
}
