/* NAVIGATION */
.navbar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0rem;
    width: 100%;
    box-shadow: 0 0 16px gray;
    background-color: white;
}

.nav-left {
}


.nav-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary);
    font-weight: 900;
    padding: 0.5rem;
    background: linear-gradient(45deg, #23668f, #558cad);
    background: -webkit-linear-gradient(45deg, #23668f, #558cad);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-right {
}

/* BUTTONS */
.primary-btn {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    background: var(--primary);
    color: var(--light);
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    box-shadow: 0 0 0.8rem var(--primary);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.primary-btn:hover {
    margin-left: -0.55rem;
    padding: 0.55rem 1.15rem;
    font-size: 1.2rem;
}

.accent-btn {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    background: var(--accent-2);
    color: var(--dark);
    font-weight: 900;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    box-shadow: 0 0 0.8rem var(--accent-2);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.accent-btn:hover {
    padding: 0.55rem 1.15rem;
    font-size: 1.2rem;
}

.secondary-btn {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    color: var(--primary);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.secondary-btn:hover {
    font-size: 1.2rem;
}

/* UTIL */
.vertically-centered {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link {
    color: var(--primary);
}

.centered-content {
    display: flex;
    justify-content: center;
}

.padding-top {
    padding-top: 2rem;
}

/* FORMS */
.form-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.formatted-form {
    width: 80vw;
    min-height: 80vh;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding: 4rem;
    background-color: #eaeaea;
    box-shadow: 0 0 32px #bababa;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.formatted-form label {
    font-size: 1.2rem;
    padding-top: .5rem;
    padding-bottom: .2rem;
}

.formatted-form input,
.formatted-form select,
.formatted-form textarea {
    font-size: 1.1rem;
    padding: .5rem;
    border: 1px solid grey;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}