form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-choice {
    padding: .3rem;
    display: flex;
    justify-content: space-evenly;
    width: 16rem;
    margin: .5rem auto;
    flex: 1;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

.account-choice > * {
    background-color: var(--secondary-light);
    min-width: 6.5rem;
    font-size: .8rem;
    padding: .5rem;
    font-weight: 700;
    transition: .3s all;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
}

.account-choice > *:hover {
    box-shadow: 0 0 12px var(--secondary);
    
}

.selected-account {
    background-color: var(--secondary);
}

.account-customer {
}

.account-seller {
}

.form-content {
    width: 60%;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .account-choice {
        flex-direction: column;
        width: 95%;
    }
    
    .account-choice > * {
        margin-top: .1rem;
        min-width: fit-content;
        font-size: .7rem;
        padding: .5rem;
        font-weight: 700;
    }
    
    .form-content {
        width: 100%;
    }
}