.account {
    width: 60vw;
    margin: auto;
}

.account h1 {
    text-align: left;
}

.account-container {
    display: flex;
}

.account-container > *:nth-child(2) {
    flex: 1;
}

.account-container > div:first-child {
    padding-right: 2rem;
}

.pfp {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.logout-form {
    text-align: right;
}

@media screen and (max-width: 1200px) {
    .account {
        width: 80vw;
    }

    .account h1 {
        text-align: center;
    }
    
    .account-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .account-container > div:first-child {
        padding-right: 0;
    }
    
    .pfp {
        width: 6rem;
        height: 6rem;
    }   
}
