.form-container{
    display: flex;
    justify-content: space-evenly
}
.left-side-form{
    display: flex;
    flex-direction: column;
}
.right-side-form{
    display: flex;
}
.padding-top-submit{
    padding-top: 0.5rem;
}
.formatted-form{
    padding-top: 2rem;
}
#item-img{
    object-fit:scale-down;
    width: 23rem;
    height: 19.7rem;
}
.img-container>p{
    position: absolute;
    top: 50%;
    left: 58%;   
}
@media screen and (max-width:1200px) {
    .form-container{
        flex-direction: column;
    }
    .right-side-form>div{
        width: 100% !important;

    }
    #item-img{
        height: 12rem;
    }
    .img-container>p{
        display: none;
    }
    .accent-btn{
        font-size: 0.9rem;
    }
}