.form-container{
    display: flex;
    justify-content: space-evenly
}
.left-side-form{
    display: flex;
    flex-direction: column;
}
.right-side-form{
    display: flex;
}
.padding-top-submit{
    padding-top: 0.5rem;
}
.formatted-form{
    padding-top: 2rem;
}
#item-img{
    object-fit:scale-down;
    width: 23rem;
    height: 19.7rem;
}