/* NAVIGATION */
.navbar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0rem;
    width: 100%;
    box-shadow: 0 0 16px gray;
    background-color: white;
    z-index: 100;
}

.nav-left {
}

.nav-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary);
    font-weight: 900;
    padding: 0.5rem;
    background: linear-gradient(45deg, #23668f, #558cad);
    background: -webkit-linear-gradient(45deg, #23668f, #558cad);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.nav-right > * {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: 1rem;
}

.account-nav {
    width: 2.2rem;
    height: 2.2rem;
    /* box-shadow: 0 0 10px var(--primary); */
    transition: 0.5s all;
    border-radius: 50%;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.account-nav:hover {
    scale: 1.1;
}

.basket {
    position: relative;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.basket:hover {
    scale: 1.1;
}


.basket-nav {
    width: 2.2rem;
    height: 2.2rem;
    /* box-shadow: 0 0 10px var(--primary); */
    object-fit: cover;   
}

.notification {
    position: absolute;
    right: 0;
    top: -16px;
    width: 18px;
    height: 18px;
    background-color: #ad2a26;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* BUTTONS */
.primary-btn {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    background: var(--primary);
    color: var(--light);
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    box-shadow: 0 0 0.8rem var(--primary);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.primary-btn:hover {
    scale: 1.1;
}

.accent-btn {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    background: var(--accent-2);
    color: var(--dark);
    font-weight: 900;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    box-shadow: 0 0 0.8rem var(--accent-2);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.accent-btn:hover {
    scale: 1.1;
}

.secondary-btn {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    color: var(--primary);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.secondary-btn:hover {
    scale: 1.1;
}

.danger-btn {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    background: var(--danger);
    box-shadow: 0 0 0.8rem var(--danger);
    color: var(--light);
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.danger-btn:hover {
    scale: 1.1;
}

/* UTIL */
.vertically-centered {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link {
    color: var(--primary);
}

.centered-content {
    display: flex;
    justify-content: center;
}

.padding-top {
    padding-top: 2rem;
}

.padding-bottom {
    padding-bottom: 2rem;
}

/* FORMS */
.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.formatted-form {
    width: 80vw;
    min-height: 80vh;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding: 4rem;
    background-color: #eaeaea;
    box-shadow: 0 0 32px #bababa;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.formatted-form label {
    font-size: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
}

.formatted-form input,
.formatted-form select,
.formatted-form textarea {
    font-size: 1.1rem;
    padding: 0.5rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

form h2 {
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 900;
}
